.app {
    display: flex;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}

.is-done {
    background: teal;
    color: white;
}

.finished {
    text-decoration: line-through;
}