.app {
    display: flex;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}

.is-done {
    background: teal;
    color: white;
}

.finished {
    text-decoration: line-through;
}

.todo {
    margin: 10px 20px 20px 2px;
    border: 1px solid teal;
    border-radius: 8px;
    background-color: darkgray;
    padding: 5px 8px;
}
